<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Blog</title>
</head>

<style>
    .main{
        margin-top: 60px;
    }

    .comment-section{
        margin-bottom: 80px;
    }
</style>

<body>
    <%- include('./partials/navbar') %>

    <div class="container main">
        <h1><%= blog.title %></h1>
        <img src="<%= blog.coverImageURL %>" width="300px">
        <p class="mt-3"><%= blog.body %></p>
        
        <div class="d-flex mt-5">
            <img src="<%= blog.createdBy.profileImageURL %>" class="me-3" width="60px" style=" border-radius: 50%;">
            <p class="my-auto"><%= blog.createdBy.fullName %> (Author)</p>
        </div>
    </div>

    <div class="comment-section">
        <div class="container mt-5">
            <h4>Comments (<%= comments.length %>)</h4>
        </div>
        
        <% if(locals.user) { %>
            <div class="container">
                <form action="/blog/comment/<%= blog._id %>" method="post">
                    <div class="mt-2">
                        <textarea type="text" rows="3" class="form-control" id="content" name="content" placeholder="Enter Your Comment..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Add</button>
                </form>
            </div>
        <% } %>

        <div class="container mt-3">
            <% comments.forEach(comment => { %>
                <div class="d-flex mt-5">
                    <img src="<%= comment.createdBy.profileImageURL %>" class="me-3" width="50px" style=" border-radius: 50%;">
                    <p class="my-auto"><%= comment.createdBy.fullName %></p>
                </div>
                <div class="mt-1">
                    <pre style="padding-left: 63px;"><%= comment.content %></pre>
                </div>
            <% }); %>
        </div>
    </div>

    <%- include('./partials/script') %>
</body>

</html>